﻿﻿@{
    ViewBag.Title = "Contato";
}

<h2>Contato</h2>

<h4>Tel: </h4>  <br />
<h4>Celular:</h4> <br />
<h4>E-mail:</h4>

<br /> <br />
Localização
<br />
<img src="~/fotos/Sem título.jpg" style="width:100%; border-radius:10px ; margin-top:3px" height="700" />