﻿@{
    ViewBag.Title = "Início";
}

<center>
    <img src="~/fotos/logo mm.jpg" style="width:100% ;height:450px;margin-top:6px; border-radius:10px" />

    <br />
    <div>

        <h1>
            Obrigado pela visita!
        </h1>

        <h3>
            Abaixo vc encontra algumas fotos da rotina do Haras e de eventos que participamos. <br /><strong>(CLIQUE NA IMAGEM PARA AMPLIAR!)</strong>
        </h3>


        <a href="~/fotos/2.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/2.jpg" style="width:45%; margin-top:5px; border-radius:10px" />
        </a>
        <a href="~/fotos/3.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/3.jpg" style="width:45%; margin-top:5px; border-radius:10px" />
        </a>



        <a href="~/fotos/10.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/10.jpg" style="width:45%; height:500px; margin-top:5px; border-radius:10px" />
        </a>
        <a href="~/fotos/6.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/6.jpg" style="width:45%; height:500px; margin-top:5px; border-radius:10px" />
        </a>


        <a href="~/fotos/7.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/7.jpg" style="width:35%;height:400px; margin-top:5px; border-radius:10px" />
        </a>
        <a href="~/fotos/9.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/9.jpg" style="width:55%;height:400px; margin-top:5px; border-radius:10px" />
        </a>



        <a href="~/fotos/11.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/11.jpg" style="width:45%; margin-top:5px; border-radius:10px" />
        </a>
        <a href="~/fotos/13.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/13.jpg" style="width:45%; margin-top:5px; border-radius:10px" />
        </a>


        <a href="~/fotos/4.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/4.jpg" .jpg" style="width:90%;height:500px; margin-top:5px; border-radius:10px" />
        </a>

        <a href="~/fotos/14.jpg" data-lightbox="galeria" data-title="My caption">
            <img src="~/fotos/14.jpg" style="width:90%; margin-top:5px; border-radius:10px" />
        </a>
    </div>
</center>