
<br/>
<br />

<br />
<p><a href="Inserir">Clique aqui para inserir novos ANIMAIS ALOJADOS</a></p>
<br />
<br />

<p><a href="InserirGaranhao">Clique aqui para inserir em GARANHÕES DO HARAS</a></p>
 <br/>
<br/>
<p><a href="InserirTreinamento">Clique aqui para inserir em inserir TREINAMENTOS</a></p>
<br />
<br />
<p><a href="InserirEventos">Clique aqui para inserir fotos de EVENTOS</a></p>
<br />
<br />
<p><a href="InserirVenda">Clique aqui para inserir em inserir fotos de ANIMAIS A VENDA</a></p>
<br />
<br />
<p><a href="Deleta">Clique aqui para deletar fotos</a></p>