<center>
 @{
        ViewBag.Title = "CasosRecentes";
  }

    <h2>Casos Recentes tratados por nossos profissioanais na OdontoRic</h2>
<h3>caso recente de lente de contato </h3>

<a href="~/fotoscasosrecentes/1.jpeg" data-lightbox="galeria" data-title="My caption">
    <img src="~/fotoscasosrecentes/1.jpeg" width="450" height="300">
</a>

<a href="~/fotoscasosrecentes/2.jpg" data-lightbox="galeria" data-title="My caption">
    <img src="~/fotoscasosrecentes/2.jpg" width="450" height="300" >
</a>

<a href="~/fotoscasosrecentes/3.jpg" data-lightbox="galeria" data-title="My caption">
    <img src="~/fotoscasosrecentes/3.jpg" width="450" height="300" style="margin-top:5px" >
</a>

<a href="~/fotoscasosrecentes/4.jpg" data-lightbox="galeria" data-title="My caption">
    <img src="~/fotoscasosrecentes/4.jpg" width="450" height="300" style="margin-top:5px">
</a>
    <br/><br/>
    <h3>caso recente de restauração com resina composta </h3>
    <a href="~/fotoscasosrecentes/restrescomp1.jpg" data-lightbox="galeria" data-title="My caption">
        <img src="~/fotoscasosrecentes/restrescomp1.jpg" width="450" height="300">
    </a>

    <a href="~/fotoscasosrecentes/restrescomp2.jpg" data-lightbox="galeria" data-title="My caption">
        <img src="~/fotoscasosrecentes/restrescomp2.jpg" width="450" height="300">
    </a>
    <h3>caso recente de Diastema </h3>
    <a href="~/fotos/casos06062015/Diastema 2.jpg" data-lightbox="galeria" data-title="My caption">
        <center>
        <img src="~/fotos/casos06062015/Diastema 2.jpg" width="450" height="400">
        </center>
    </a>
    <h3>caso recente de Diastema </h3>
    <a href="~/fotos/casos06062015/diastema.jpg" data-lightbox="galeria" data-title="My caption">
        <center>
            <img src="~/fotos/casos06062015/diastema.jpg" width="450" height="400">
        </center>>
    </a>
      <h3>caso recente de Facetas </h3>
    <a href="~/fotos/casos06062015/facetas 1.jpg" data-lightbox="galeria" data-title="My caption">
        <center>
            <img src="~/fotos/casos06062015/facetas 1.jpg" width="450" height="400">
        </center>>
    </a>
    <h3>caso recente de Facetas </h3>
    <a href="~/fotos/casos06062015/Facetas.jpg" data-lightbox="galeria" data-title="My caption">
        <center>
            <img src="~/fotos/casos06062015/facetas.jpg" width="450" height="400">
        </center>>
    </a>
    <h3>caso recente de Facetas </h3>
    <a href="~/fotos/casos06062015/facetas_2.jpg" data-lightbox="galeria" data-title="My caption">
        <center>
            <img src="~/fotos/casos06062015/facetas_2.jpg" width="450" height="400">
        </center>>
    </a>
    <h3>caso recente de lentes de contato </h3>
    <a href="~/fotos/casos06062015/lentes.jpg" data-lightbox="galeria" data-title="My caption">
        <center>
            <img src="~/fotos/casos06062015/lentes.jpg" width="450" height="400">
        </center>>
    </a>




</center>
<br />   <br />





