@{
    ViewBag.Title = "Contato";
}
<div>
<h2>Contato</h2>
<h5>cel: </h5>(79) 999866918
<h5>cel: </h5>(79) 981619845
<h5>Tel: </h5>(79) 34491249
<h5>E-mail:</h5>Clinica_amor@hotmail.com <br />
 
<h5>Endereço:</h5>
<br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  
   




</div>


