
@{
    ViewBag.Title = "Restaurante";
}

<div class="slider" style="width:100%">
    <ul class="slides">
        <li>
            <img src="~/fotos/3.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h4> </h4>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="~/fotos/11.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="~/fotos/22.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="~/fotos/33.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Restaurante </h3>
                <h5 class="light grey-text text-lighten-3">Aprecie a melhor comida da região</h5>
            </div>
        </li>
        <li>
            <img src="~/fotos/44.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Açougue</h3>
                <h5 class="light grey-text text-lighten-3">Aqui você encontra os melhores cortes</h5>
            </div>
        </li>

        <li>
            <img src="~/fotos/55.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>

        <li>
            <img src="~/fotos/66.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h4> </h4>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>

        <li>
            <img src="~/fotos/77.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h4> </h4>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>

        <li>
            <img src="~/fotos/88.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h4> </h4>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>

    </ul>
</div>

<div class="row">
    Qualidade é coisa séria! Quando você experimentar os produtos do Restaurante Barreto pode ter a tranqüilidade e confiança 
    de estar consumindo uma refeição saborosa e, acima de tudo, segura.Toda a estrutura física e de produção
    foram rigorosamente arquitetadas para oferecer condições de higiene adequadas e um altíssimo grau de 
    segurança dos alimentos, obedecendo às leis federais vigentes.
</div>
<center>
    <div class="row">
        
    </div>
</center>