@{
    ViewBag.Title = "Início";
}


  <img src="~/FotosLayout/Sem título-1.jpg" style="width:100% ;height:10%;margin-top:6px" />

<br/> <br/><br/>
<div class="row" style="background-color:#dcd0d0; width:95%; border-radius:4px; align-content:center;margin-left:2.5%" >
    
    <p style="width:95%; margin-left:3%;margin-top:1%">
        <strong>
            <em>Encontre aqui o catálogo com as melhores opções na hora de adiquirir seu automóvel, com experiência de 15 anos no
            mercado a Passarela automóveis compra, vende e financia seu veículo com os melhores preços e condições de pagamento.
            </em>
        </strong>
    </p>
</div>