@model IEnumerable<WebApplication2.Models.fotoviewmodel>

<img src="~/FotosLayout/paulinho_logo.jpg" style="width:100% ;height:10%;margin-top:90px" />

<br /> <br /><br />



<center>

    <h3> Abaixo você encontra nosso catálogo online,<strong>"clique na imagem para aumentar!"</strong></h3>
   


    @foreach (var item in Model)
    {

        <a href="@item.Foto1" data-lightbox="galeria" data-title="My caption"><img src="@item.Foto1" style="margin-top:10px; margin-left:3px; margin-right:3px" width="350" height="250"></a>
     


    }

</center>